@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --blue:#0abde3;
    --black:#fff;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: #fff;
}

html::-webkit-scrollbar-thumb{
    background: var(--blue);
    border-radius: 5rem;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 5rem;
    color:#130f40;
}

.heading span{
    position: relative;
    z-index: 0;
}

.heading span::before{
    content: '';
    position: absolute;
    bottom: 1.2rem; left:0;
    height: 100%;
    width:100%;
    background: var(--blue);
    clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
    z-index: -1;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color:#fff;
    background: #130f40;
    border-radius: .5rem;
}

.btn:hover{
    background: var(--blue);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background: #111111;
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
}

.header .logo{
    text-transform: uppercase;
    font-size: 2.5rem;
    color:#000;
    font-weight: bolder;

}
.arcticons--coinomi {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Ccircle cx='10.77' cy='11.41' r='1.21' fill='none' stroke='%230df0ff' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='22.09' cy='6.92' r='1.21' fill='none' stroke='%230df0ff' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='39.25' cy='14.7' r='2.08' fill='none' stroke='%230df0ff' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='37.76' cy='25.52' r='2.13' fill='none' stroke='%230df0ff' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='39.34' cy='34.82' r='1.21' fill='none' stroke='%230df0ff' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='29.19' cy='36.8' r='1.11' fill='none' stroke='%230df0ff' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='19.09' cy='40.62' r='2.09' fill='none' stroke='%230df0ff' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='28.08' cy='26.11' r='1.1' fill='none' stroke='%230df0ff' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='21.64' cy='15.44' r='1.95' fill='none' stroke='%230df0ff' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle cx='10.7' cy='26.08' r='3.67' fill='none' stroke='%230df0ff' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill='none' stroke='%230df0ff' stroke-linecap='round' stroke-linejoin='round' d='M23.47 7.55L37 13.7m1.92 3.35l-.84 6.1m.1 4.85l.94 5.51m-1.21 1.59l-7.28 1.42m-2.72.77l-6.54 2.47M29 35.32l-.8-7.72M17.85 38.48l-5.16-8.95m1.42-1.47l13.85 8m-13.29-9.97h12m-3.88-8.75l4.55 7.55m-13.82-1.55l6.42-6.24m-9.18-4.23v9.31m1.35-11.3l8.62-3.42M22 8.3l-.26 4.82m2.14 2.23l13.18-.56m-1.74 10.88l-5.86.33'/%3E%3C/svg%3E");
  }
  .arcticons--coinomi{
    margin-bottom: -18px;
  }
.header .navbar a{
    margin-left: 2rem;
    font-size: 1.7rem;
    color:#ffffff;
}

.header .navbar a:hover{
    color: #FFFC00;
}

#menu-btn{
    cursor: pointer;
    color:  #FFFC00;
    font-size: 3rem;    
    display: none;
}

.home{
    padding-top: 9rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .image{
    flex:1 1 42rem;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex:1 1 42rem;
}

.home .content h3{
    color:#130f40;
    font-size: 4rem;
    line-height: 1.8;
}

.home .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding:.5rem 0;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
}

.services .box-container .box{
    text-align: center;
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2.5rem;
}

.services .box-container .box img{
    height: 20rem;
}

.services .box-container .box h3{
    font-size: 2.3rem;
    color:#130f40;
}

.services .box-container .box p{
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
    line-height: 1.8;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row .image{
    flex:1 1 42rem;
}

.about .row .image img{
    width:100%;
}

.about .row .content{
    flex:1 1 42rem;
} 

.about .row .content h3{
    color:var(--black);
    font-size: 3.5rem;
    line-height: 1.8;
}

.about .row .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 1.8;
    padding:1rem 0;
}

.plan .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
}

.plan .box-container .box{
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding:2.5rem 2rem;    
}

.plan .box-container .box .title{
    font-size: 2rem;
    color:var(--black);
}

.plan .box-container .box img{
    height: 20rem;
}

.plan .box-container .box .price{
    font-size: 6rem;
    color:var(--black);
    font-weight: bolder;
}

.plan .box-container .box .price span{
    font-size: 2.5rem;
    font-weight: normal;
}

.plan .box-container .box ul{
    padding:1rem 0;
    list-style: none;
}

.plan .box-container .box ul li{
    padding:1rem 0;
    font-size: 1.7rem;
    color:var(--light-color);
}

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    text-align: center;
    padding:2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
}

.review .box-container .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    font-size: 2.3rem;
    color:var(--black);
    padding-top: 1rem;
}

.review .box-container .box p{
    font-size: 1.4rem;
    color:var(--light-color);
    padding: 1rem 0;
    line-height: 1.8;
}

.review .box-container .box .stars{
    padding-top: .5rem;
}

.review .box-container .box .stars i{
    font-size: 1.7rem;
    color:var(--blue);
}

.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row .image{
    flex:1 1 42rem;
}

.contact .row .image img{
    width:100%;
}

.contact .row form{
    flex:1 1 42rem;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
    text-align: center;
} 

.contact .row form h3{
    color:var(--black);
    font-size: 3rem;
}

.contact .row form .box{
    width: 100%;
    margin:.8rem 0;
    padding:1rem 1.5rem;
    border-radius: .5rem;
    border:var(--border);
    text-transform: none;
    font-size: 1.4rem;
}

.contact .row form .box:focus,
.contact .row form .box:hover{
    border-color: var(--blue);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.footer{
    text-align: center;
    padding-bottom: 8rem;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    color:#130f40;
    font-size: 4rem;
    margin:1rem;
}

.footer .share a:hover{
    color:var(--blue);
}

.footer .credit{
    padding:2rem 1rem;
    text-align: center;
    font-size: 2rem;
    color:#130f40;
}

.footer .credit span a{
    background-color:var(--blue);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.footer .credit span a:hover{
    background-color:indigo;
    color: white;
    padding: 5px;
}












/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background: #111111;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2.5rem 2rem;
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    background: #eee;
  }
  .move{
    transform: translateY(50px);
  }
  .container form{
    padding: 60px;
    width:600px;
    border-radius: 20px;
    background: #130f40;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }
  
  .container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .container form .row .col{
    flex:1 1 250px;
  }
  
  .container form .row .col .title{
    font-size: 20px;
    color:#fff;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .container form .row .col .inputBox{
    margin: 15px 0;
  }
  
  .container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
    color: #fff;
  }
  
  .container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding:13px 15px;
    font-size: 14px;
    text-transform: none;
  }
  
  .container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
  
  .container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .container form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  
  .container form .row .col .inputBox img{
    height: 49px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  
  .container form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #27ae60;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .container form .submit-btn:hover{
    background: #2ecc71;
  }
   .star{
    padding: 10px;
  background: #0abde3;
    text-decoration: none;
    color: white;
    border-radius: 20px;
  }
  .start{
    padding: 5px;
    background: #0abde3;
      text-decoration: none;
      color: white;
     border-radius: 14px;
  }
  .star:hover{
    background:#0df0ff;
    transition: 400ms all ease-in;
  } 